
{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <button class="btn btn-primary" style="text-align: center;">Search</button>
    </form>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center"><h2>Popular Movies</h2></div>
        <div class="row">
            {{ macro.displayMovieList(popular)}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center"><h2>Upcoming Movies</h2></div>
        <div class="row">
            {{ macro.displayMovieList(upcoming)}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center"><h2>Now Showing</h2></div>
        <div class="row">
            {{ macro.displayMovieList(now_showing)}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center"><h2>Top Movies</h2></div>
        <div class="row">
            {{ macro.displayMovieList(top_movies)}}
        </div>
    </div>
</div>

{% endblock %}

